.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.373);
  position: fixed;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.App-logo {
  font-size: 1.5em;
  font-weight: bold;
}
.App-logo .highlight{
  color: #07a0ff;
}
.App-logo .highlight_second {
  color: #ff5722;
}
.App-nav {
  list-style: none;
  display: flex;
  margin: 0.8%;
  padding: 0;
}

.App-nav li {
  margin: 0 10px;
}

.App-nav a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.App-nav a:hover {
  text-decoration: underline;
}

.App-hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .App-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .App-nav.open {
    display: flex;
  }

  .App-nav li {
    margin: 10px 0;
  }

  .App-hamburger {
    display: block;
  }
}

.App-header {
  background: linear-gradient(to bottom left, white 65%, #07a0ff 120%),
  linear-gradient(to top right, white 65%, #07a0ff 120%);
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
  padding: 20px;
}
 
.App-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: left;
}

.App-header-text {
  margin: 20px 0;
}

.App-header h1 {
  font-size: 2.5em;
}
.App-header .highlight {
  color: #07a0ff;
}
.App-header .highlight_second {
  color: #ff5722;
}
.App-header p {
  font-size: 1em;
}

.App-image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media (max-width: 768px) {
  .App-header {
    padding: 20px;
  }

  .App-header-wrapper {
    flex-direction: column;
  }

  .App-image {
    width: 90%;
    max-width: 300px;
  }

  .App-header h1 {
    font-size: 1.5em;
  }

  .App-header p {
    font-size: 0.9em;
  }
}

.App-help-button {
  padding: 10px ;
  font-size: 1em;
  color: white;
  background-color: #07a0ff;
  border: none;
  box-shadow: 0 0 10px #0c76b8;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.App-help-button:hover {
  background-color: #07a0ff;
  box-shadow: 0 0 0px #24abff;
  color: white;
}

.App-more-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 1em;
  color: #07a0ff;
  border: 1px solid #07a0ff;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App-more-button:hover {
  background-color: white;
  color: #07a0ff;
}

.App-content {
  padding: 40px;
  background-color: #f4f4f4;
}

.App-content h2 {
  font-size: 2em;
}

.App-content p {
  font-size: 1.1em;
  line-height: 1.6;
}