.about-container {
    font-family: "Nunito", sans-serif;
    padding: 20px;
    max-width: 100%;
    background-color: #005d9b;
    background-image: url('/public/circuit.svg');
    background-size: 100%;
    background-repeat: no-repeat;

}

.about-container h2 {
    color: white;
    font-size: 2rem;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
}

.about-container p {
    color:white;
    line-height: 1.6;
    margin-bottom: 15px;
}

 