.App-header {
    background: linear-gradient(to bottom left, white 65%, #07a0ff 120%);
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 20px;
    position: relative;
}

.oval {
    position: absolute;
    justify-content: start;
    background: #0050b8;
    height: 400px;
    width: 400px;
    left: 0;
    top: 53px;
    border-radius:50%;
    z-index: 0;
}
.banner {
    position: absolute;
    justify-content: start;
    background: #0050b8;
    height: 160px;
    width: 100%;
    top: 470px;
    border-radius: 20px;
    z-index: 2;
 
}

.banner-text {
    position: absolute;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 3.5em;
    margin: 0;
    top: 490px;
    padding: 20px;
    color: white;
    z-index: 3;
}

.App-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    position: relative;
}

.App-header-text {
    font-family: "Nunito", sans-serif;
    margin: 20px;
}

.App-header h1 {
    font-family: "Nunito", sans-serif;
    font-size: 3em;
    margin: 0;
}

.App-header .highlight {
    color: #07a0ff;
}

.App-header .highlight_second {
    color: #ff5722;
}

.App-header p {
    font-size: 1em;
}

.App-image-wrapper {
    position: relative;
    z-index: 1;
}

.App-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .App-header {
        padding: 20px;
    }

    .App-header-wrapper {
        flex-direction: column;
    }

    .App-image {
        width: 90%;
        max-width: 300px;
    }

    .oval {
        height: 210px;
        width: 210px;
        left: 42px;
        top: 8px;
        border-radius:50%;
        z-index: 0;
    }
    .banner {
        height: 90px;
        top: 220px;
        border-radius: 20px;
        z-index: 2;
    }
    .banner-text {
        font-size: 1.4em;
        top: 230px;
    }

    .App-header h1 {
        font-size: 1.5em;
    }

    .App-header p {
        font-size: 0.9em;
    }
}