.App-header {
    background: linear-gradient(to bottom left, white 65%, #07a0ff 120%);
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 20px;
}

.App-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: left;
}

.App-header-text {
    font-family: "Nunito", sans-serif;
    margin: 20px;
}

.App-header h1 {
    font-family: "Nunito", sans-serif;
    font-size: 3em;
    margin: 0;
}

.App-header .highlight {
    color: #07a0ff;
}

.App-header .highlight_second {
    color: #ff5722;
}

.App-header p {
    font-size: 1em;
}

.App-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (max-width: 768px) {
    .App-header {
        padding: 20px;
    }

    .App-header-wrapper {
        flex-direction: column;
    }

    .App-image {
        width: 90%;
        max-width: 300px;
    }

    .App-header h1 {
        font-size: 1.5em;
    }

    .App-header p {
        font-size: 0.9em;
    }
}