.App-content-services {
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background-color: #24abff1c;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    flex-wrap: wrap;
}

.App-content-services h2 {
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.App-content-services p {
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.item-shape {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    padding: 2vw;
    background-color: white;
    box-shadow: rgb(218, 218, 218) 0px 0px 6px;
    margin: 2vw;
    text-align: center;
    border-radius: 12px;
    box-sizing: border-box;
}

.divider {
    width: 80%;
    border: 0;
    height: 1px;
    background: #e7e7e7;
    margin: 20px 0;
}

.promo {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 195, 104, 0.637);
    color: rgb(160, 79, 3);
    padding: 15px 25px;
    border-radius: 0 12px 0 20px;
    font-size: 14px;
    font-weight: bold;
}

.item-shape:hover {
    box-shadow: 0 0 1vw #24abff7a;
    transition: all 0.3s ease;
}

.title {
    margin-top: 25px;
    background-color: #24abff1c;
    color: #07a0ff;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.item-shape img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .item-shape {
        max-width: 270px;
    }

    .item-shape img {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 992px) {
    .item-shape {
        max-width: 240px;
    }

    .item-shape img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .App-content-services {
        padding: 20px;
        overflow-x: auto;
    }

    .item-shape {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .item-shape img {
        width: 100%;
        height: auto;
    }

    .title {
        margin-top: 90px;
    }

    .App-hub-button {
        width: 55vw;
        height: 5vw;
    }
}

@media (max-width: 576px) {
    .item-shape {
        max-width: 100%;
        height: auto;
    }

    .item-shape img {
        width: 100%;
        height: auto;
    }

    .title {
        margin-top: 50px;
    }
}

.App-hub-button {
    font-family: "Nunito", sans-serif;
    padding: 10px;
    font-size: 0.99em;
    color: white;
    background-color: #02da14;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20px;
    margin-top: auto;
}

.App-hub-button:hover {
    background-color: #00830b;
    box-shadow: 0 0 0px #24abff;
}