.App-content-services {
    background: linear-gradient(to bottom right, white 65%, #07a0ff 120%);
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    flex-wrap: wrap;
}

.App-content-services h2 {
    justify-content: center;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.item-shape {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
    max-width: 900px;
    max-height: 900px;
    padding: 2vw;
    background-color: white;
    box-shadow: rgb(218, 218, 218) 0px 0px 6px;
    margin: 2vw;
    text-align: center;
    cursor: pointer;
    border-radius: 2%;
}

.item-shape:hover {
    box-shadow: 0 0 1vw #02da14;
    transition: all 0.3s ease;
}

.item-shape img {
    width: 57%;
    height: 50%;
    margin-bottom: 10px;
}

.item-shape p {
    margin: 0;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

/* Mobile */
@media (max-width: 768px) {
    .App-content-services {
        padding: 20px;
        overflow-x: auto;
    }

    .App-content-services h2 {
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .item-shape {
        justify-content: center;
        width: 300px;
        height:500px;
        flex: 0 0 auto;
    }

    .item-shape img {
        width: 30vw;
        height: 20vw;
        max-width: 90px;
        margin-bottom: 1vw;
    }

    .App-hub-button {
        width: 55vw;
        height: 5vw;
    }
}

.App-hub-button {
    font-family: "Nunito", sans-serif;
    padding: 10px;
    font-size: 0.77em;
    color: white;
    background-color: #02da14;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60%;

}

.App-hub-button:hover {
    background-color: #00830b;
    box-shadow: 0 0 0px #24abff;
}